<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
        <label>Title: <input type="text" th:field="*{title}" /></label><br>
        <label>Author: <input type="text" th:field="*{author}" /></label><br>
        <label>Price: <input type="number" step="0.01" th:field="*{price}" /></label><br>
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
